@import '../../../../common.module';

.LabelledItem ***REMOVED***
  label ***REMOVED***
    font-size: 80%;
    text-transform: uppercase;
    color: $gray-600;
    // letter-spacing: 0.1px;
    margin-bottom: 2px;
***REMOVED***
  input, select, .ReactSelect ***REMOVED***
    font-size: 13.5px;
***REMOVED***
  input.form-control ***REMOVED***
    height: 38px;
***REMOVED***
***REMOVED***