***REMOVED***
  "Logging": ***REMOVED***
    "LogLevel": ***REMOVED***
      "Default": "Warning"
  ***REMOVED***
***REMOVED***
  "AllowedHosts": "*",
  "ConnectionStrings": ***REMOVED***
    "ExitSurveyAdmin": "***REMOVED******REMOVED*** db_connection_string ***REMOVED******REMOVED***"
***REMOVED***
  "Authentication": ***REMOVED***
    "Authority": "***REMOVED******REMOVED*** keycloak_authority ***REMOVED******REMOVED***",
    "RoleName": "***REMOVED******REMOVED*** keycloak_rolename ***REMOVED******REMOVED***"
***REMOVED***
  "LdapLookup": ***REMOVED***
    "Host": "***REMOVED******REMOVED*** ldap_host ***REMOVED******REMOVED***",
    "Port": ***REMOVED******REMOVED*** ldap_port ***REMOVED******REMOVED***,
    "Base": "***REMOVED******REMOVED*** ldap_base ***REMOVED******REMOVED***",
    "Username": "***REMOVED******REMOVED*** ldap_user_name ***REMOVED******REMOVED***",
    "Password": "***REMOVED******REMOVED*** ldap_user_password ***REMOVED******REMOVED***",
    "OverrideEmail": "***REMOVED******REMOVED*** ldap_override_email ***REMOVED******REMOVED***"
***REMOVED***
  "Email": ***REMOVED***
    "FromName": "***REMOVED******REMOVED*** email_from_name ***REMOVED******REMOVED***",
    "FromAddress": "***REMOVED******REMOVED*** email_from_address ***REMOVED******REMOVED***",
    "SmtpServer": "***REMOVED******REMOVED*** email_smtp_host ***REMOVED******REMOVED***",
    "SmtpPort": ***REMOVED******REMOVED*** email_smtp_port ***REMOVED******REMOVED***
***REMOVED***
  "CallWebApi": ***REMOVED***
    "BaseUrl": "***REMOVED******REMOVED*** callwebapi_base_url ***REMOVED******REMOVED***"
***REMOVED***
  "Csv": ***REMOVED***
    "SamplePSACSVFilePath": ""
***REMOVED***
  "Sieve": ***REMOVED***
    "ThrowExceptions": true
***REMOVED***
***REMOVED***
