{
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "ExitSurveyAdmin": "{{ db_connection_string }}"
  },
  "Authentication": {
    "Authority": "{{ keycloak_authority }}",
    "RoleName": "{{ keycloak_rolename }}"
  },
  "LdapLookup": {
    "Host": "{{ ldap_host }}",
    "Port": {{ ldap_port }},
    "Base": "{{ ldap_base }}",
    "Username": "{{ ldap_user_name }}",
    "Password": "{{ ldap_user_password }}",
    "OverrideEmail": "{{ ldap_override_email }}"
  },
  "Email": {
    "FromName": "{{ email_from_name }}",
    "FromAddress": "{{ email_from_address }}",
    "SmtpServer": "{{ email_smtp_host }}",
    "SmtpPort": {{ email_smtp_port }}
  },
  "CallWebApi": {
    "BaseUrl": "{{ callwebapi_base_url }}"
  },
  "Csv": {
    "SamplePSACSVFilePath": ""
  },
  "Sieve": {
    "ThrowExceptions": true
  }
}
