a.navbar-brand ***REMOVED***
  white-space: normal;
  text-align: center;
  word-break: break-all;
***REMOVED***

html ***REMOVED***
  font-size: 14px;
***REMOVED***
@media (min-width: 768px) ***REMOVED***
  html ***REMOVED***
    font-size: 16px;
***REMOVED***
***REMOVED***

.box-shadow ***REMOVED***
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
***REMOVED***

.navbar ***REMOVED***
  z-index: 1000;
  // margin: 0px;
***REMOVED***

.navbar-collapse.show,
.navbar-collapse.collapsing ***REMOVED***
  margin: 0px -15px;
  padding: 0px 15px;
***REMOVED***
