/* Provide sufficient contrast against white background */
a ***REMOVED***
  color: #0366d6;
***REMOVED***

code ***REMOVED***
  color: #E01A76;
***REMOVED***

.btn-primary ***REMOVED***
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
***REMOVED***
