@import "../../../../common.module";

.NoOutline ***REMOVED***
  border: none;
***REMOVED***

.NoBackground ***REMOVED***
  background: none;
***REMOVED***

.Round ***REMOVED***
  border-radius: 15px;
  border-bottom: 0;
***REMOVED***

.Faded ***REMOVED***
  // opacity: 0.7;
  color: $gray-600;
  background: none !important;
  border: none !important;
  outline: none !important;
  &:hover ***REMOVED***
    color: $gray-900;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
***REMOVED***
  &:focus ***REMOVED***
    border: none !important;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
***REMOVED***
  &:active ***REMOVED***
    border: none !important;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
***REMOVED***
***REMOVED***