.EditableField {
  .Editable {
    border-bottom: solid #333 1px;
    background-color: #f3f3f3;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }
}