@import '../../../../variables';

.LabelledText ***REMOVED***
  .Label ***REMOVED***
    color: $color-grey;
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    .text-muted ***REMOVED***
      color: $color-lightest-grey;
  ***REMOVED***
***REMOVED***
  .HelperText ***REMOVED***
    color: $color-grey;
    font-size: 0.8rem;
***REMOVED***
  margin-bottom: 1rem;
***REMOVED***
