@import '../../../../common.module';

.ReactSelect.form-control ***REMOVED***
  padding: 0px !important;
  border: none !important;
  height: auto !important;
  .css-spersy-control ***REMOVED***
    border-radius: 0 !important;
***REMOVED***
***REMOVED***
